table, td, th{
    margin-top: 20px;
    border: 1px solid black;
    border-collapse: collapse;
}
th, td{
    height: 30px;
}
.extra{
    color:rgb(197, 186, 186)
}
.calendar{
    padding-top: 17%;
    padding-left: 37%;
}